/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(13, 11, 110);
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  color: aliceblue;
  text-align: center;
  font-size: 1.8rem;
  position: relative;
}
